# Backend config
PORT=3001
JWT_SECRET=mudar_isso_em_producao
ADMIN_USER=admin
ADMIN_PASSWORD=admin123

# Frontend config (Vite)
# Se estiver usando o mesmo servidor para os dois, deixe em branco ou use '/'
VITE_API_URL=
